.cabe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    background-color: #F5F5F5;
}

.cabe > div{
    display: flex;
    justify-content: end;

    width: 100%;
    max-width: 558px;
}

.cabe > div img{

    width: 100%;
    max-width: 146px;
}

.cabe > a{
    padding: 7px 30px ;

    background: rgb(99, 195, 209) url('../../assets/images/assets.png');
    background-position: 85px 11px;
    background-repeat: no-repeat;

    font: 16px 'vandinha3';

    color: #fff;

    text-decoration: none;

    width: 100%;
    max-width: 130px;

    height: 40px;

    margin: 20px 10px ;

    border-radius: 5px;
}

.secao-02{
    display: flex;
    flex-direction: row;
    margin-top: 48px;
    justify-content: center;
}

.cartaz{
    padding: 0px 15px;
}

.cartaz img{
    max-width: 450px;
    width: 100%;
}

.agrup{
    
    padding: 0px 15px;
}

.conteudo{
    padding: 25px 30px 40px;
    
}

.conteudo h2{
    font: 22px 'vandinha3';
    padding: 0px 0px 20px;
}

.conteudo a{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f5f5f5;
    font: 14px 'vandinha3';
    color: #7b7979;
    padding: 6px 16px 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    max-width: 97px;
    width: 100%;
}



.conteudo a > img {
    padding-right: 10px;
    align-self: flex-start;
}



.conteudo > p{
    padding-top: 11px;
    color: #7b7979;
    font: 16px 'vandinha3';
    align-items: center;
    position: relative;
}

.conteudo > p > svg{
    fill: #63C3D1;
    max-width: 23px;
    transform: rotate(135deg);
    padding-left: 7px;
    
}

.agrup-ps > p > svg{
    fill: #63C3D1;
    max-width: 17px;

    padding-right: 3px;
    
}

.svg1{
    fill: #63C3D1;
    max-width: 25px !important;
    padding-right: 3px !important;
    transform: rotate(0deg) !important;
}

.svg2{
    display: flex;
    flex-direction: row;
}

.svg2 svg{
    fill: #63C3D1;
    width: 30px;
    padding: 5px 8px 5px 5px;
}

.agrup-ps{
    padding-top: 11px;

    position: relative;
    
}

.agrup-ps p{
    color: #7b7979;
    font: 16px 'vandinha3';
    max-width: 378.78px;
    width: 100%;
}

.agrup-ps p > span{
    color: black;
}


.botao{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 195, 209);
    color: black;
    text-decoration: none;
    font: 16px 'vandinha2';
    padding: 9px 50px 10px 29px;
    margin: 20px 0px 20px 30px;
    max-width: 445px;
    width: 100%;
}

.secao-03{
    display: flex;
    flex-direction: column;
    padding: 0px 41px;
}

.data{
    display: flex;
    flex-direction: column;

    margin-bottom: 20px;
}

.data h1{
    font: 19.2px 'vandinha3';

    color: #1D4459;

    padding: 5px 0px 15px;
}

.data a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #63C3D1;

    width: 100%;
    max-width: 78px;
    height: 52px;

    font: 18px 'vandinha2';
    color: #1D4459;

    text-decoration: none;
}

.data a span{
    font: 15px 'vandinha3';
}

.a{
    width: 100% !important;
    max-width: 75px !important;
    height: 35px !important;
}


.evento{
    display: flex;
    flex-direction: column;

    margin: 28.7969px 0px;
}

.evento div{
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 13px 15px 13px 30px;
    margin-top: 19px;

    background-color: #F5F5F5;
}

.evento a{
    font: 17.5px 'vandinha2';

    color: #1D4459;
    
    text-decoration: none;
}

.evento img{
    width: 13.58px;
}




footer {
    display: flex;
    background: #1d4459;
    flex-direction: column;
    color: #fff;
    padding: 37px 12px 0px 37px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0px 29px 0px 0px;
    
}

.md3  {
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 0px 15px;

    width: 100%;
    max-width: 238.25px;

}

.md3 > a {
    color: #fff;
    text-decoration: none;
    font: 16px 'vandinha3';
    padding: 2px 0px;
}

.md4f p {
    font: 14px 'vandinha3';
}

.tel {
    color: #63c3d1;
    font: 14.4px 'vandinha2';
    padding: 10px 0px 26px;
    max-width: 208.25px;
}

.md4{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
}

.mp4 p {
    padding-bottom: 50px;
    font: 20px 'vandinha2';
}


.md4 a {
    color: #63d3d1;
    text-decoration: none;
    font: 14.4px 'vandinha3';
}

.tzao {
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: solid 1px #5b869d;
    margin-top: 30px;
    padding: 30px;
}

.tzao p {
    font: 16px 'vandinha3';
    color: #5b869d;
}


.md5 {
    padding-right:25px;
    margin: 12px 12px 12px 0px;
}

.md5 a {
    color:#fff;
    font: 18px 'vandinha3';
    text-decoration: none;
    display: flex;
}

.md5 > a > img {
    max-width: 25px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    
} 

.md5 img {
    width: 20px;
    height: 20px;
}

footer {
    display: flex;
    background: #1d4459;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1544px;

    color: #fff;
    padding: 37px 12px 0px 37px;
}

.conteiner {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 0px 29px 0px 20px;
    width: 100%;
    max-width: 1150px;
}

.md3  {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px 15px;

    width: 100%;
    max-width: 280px;

}

.md3 > a {
    color: #fff;
    text-decoration: none;
    font: 16px 'vandinha3';
    padding: 2px 0px;
}

.md4f p {
    font: 14px 'vandinha3';
}

.tel {
    color: #63c3d1;
    font: 14.4px 'vandinha2';
    padding: 10px 0px 26px;
    width: 100%;
    max-width: 210px;
}

.md4{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;

    
    width: 100%;
    max-width: 280px;
}

.mp4 p {
    padding-bottom: 50px;
    font: 20px 'vandinha2';
}


.md4 a {
    color: #63d3d1;
    text-decoration: none;
    font: 14.4px 'vandinha3';
}

.tzao {
    align-items: center;
    justify-content: center;
    display: flex;
    border-top: solid 1px #5b869d;
    margin-top: 30px;
    padding: 30px;

    width: 100%;
    max-width: 1150px;
}

.tzao p {
    font: 16px 'vandinha3';
    color: #5b869d;
}


.md5 {
    padding-right:25px;
    margin: 12px 12px 12px 0px;

    
    width: 100%;
    max-width: 280px;
}

.md5 a {
    color:#fff;
    font: 18px 'vandinha3';
    text-decoration: none;
    display: flex;
}

.md5 > a > img {
    max-width: 25px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    
} 

.md5 img {
    width: 20px;
    height: 20px;
}

.md41{
    display: none;
    flex-direction: column;
    padding: 0px 15px;

    width: 100%;
    max-width: 280px;
}

.md41 p{
    padding-bottom: 50px;
    font: 20px 'vandinha2';
}

.md41 a {
    color: #63d3d1;
    text-decoration: none;
    font: 14.4px 'vandinha3';
}

.md51{
    display: none;
    padding-right:25px;
    margin: 12px 12px 12px 0px;
    
    
    width: 100%;
    max-width: 280px;
}

.md51 a {
    color:#fff;
    font: 18px 'vandinha3';
    text-decoration: none;
    display: flex;
}

.md51 > a > img{
    max-width: 25px;
    margin-right: 5px;
    width: 20px;
    height: 20px;
}

@media(max-width:767px){
    .secao-02{
        flex-direction: column;
        align-items: center;
    }

    .md4{
        display: none;
    }

    .md41{
        display: flex;
        flex-direction: column;

    }

    .md41 p{
        padding-bottom: 15px;
    }

    .md41 a{
        padding-bottom: 25px;
    }

    .md3{
        padding: 0px;
    }

    .md3 a {
        padding-bottom: 14px;
    }

    .conteudo{
        padding: 0px;
    }
    .conteiner{
        flex-direction: column;
        align-items: flex-start;
    }

    .md5{
        display: none;
    }

    .md51{
        display: flex;
    }
}



@media (max-width: 985px){
    .md3{
        padding: 0px;
    }

    .conteiner{
        margin: 0px;
        align-items: flex-start;
    }

    .md4{
        padding: 10px;
    }
}