* {
    margin: 0px;
    box-sizing: border-box;
}

.cabecalho {
    display: flex;
    justify-content: flex-start;
    background-color: aqua;
    height: 25vh;
    width: 100vw;
}

.cabecalho div {
    display: flex;
    height: 140px;
    width: 140px;
    background-color: rgb(199, 199, 24);
    margin: 45px 10px;
}
