* {
    margin: 0px;
    box-sizing: border-box;
}

.sessao {
    display: flex;
    flex-direction: row;
    }

.conteudo {
    display: flex;
    flex-direction: row;
    background-color: #4485ff;
    height: 60vh;
    width: 100vw;
}

.cont {
    display: flex;
    flex-direction: column;
}
.esq {
display: flex;
flex-direction: row;
}

.c1 > div {
background-color: #6213ac;
height: 150px;
width: 150px;
margin: 20px;

}
.c2 > div {
    background-color: #82fc08;
    height: 320px;
    width: 200px;
    margin: 20px;
}

.c3 > div {
    background-color: #49008d;
    height: 150px;
    width: 150px;
    margin: 20px;
}

.c4 > div {
    background-color: #80ff00;
    height: 320px;
    width: 200px;
    margin: 20px;
}

.c5 > div {
background-color: #070404;
height: 45px;
width: 825px;
margin: 20px;
}

.mid {
display: flex;
flex-direction: row;

}

.mid > div {
    background-color: #df1010;
    height: 55vh;
    width: 500px;
    margin: 20px;
}

.direita {
display: flex;
flex-direction: column;
}

.um {
    background-color: #8400ff;
    height: 350px;
    width: 450px;
    margin: 20px;
}

.dois {
    background-color: #679e2f;
        height: 200px;
        width: 450px;
        margin: 20px;
}