* {
    margin: 0px;
    box-sizing: border-box;
}

.principal {
    display: flex;
    flex-direction: column;

}

.cabecalho {
    background-color: #00ffff;
    height: 10vh;
}

.sub-01 {
    display: flex;
    flex-direction: row;  
    height: 80vh;
    width: 100vw;
    flex-grow: 1;
    

}

.esquerda {
    background-color: #8a2be2;
    width: 50vh;
    flex-grow: 1;
}

.centro {
    background-color: #19e456;   
    width: 50vh;
    flex-grow: 1;
}   

.direita {
    background-color: #ff0055;
    flex-grow: 1;
    width: 50vh;
    
}

.rodape {
    background-color: #235f23;
    height: 10vh;
}