body {
    background-color: #f6f6f6;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

.conteudo h1 {
    font: 30px 'fonte1';
    text-align: center;
    margin-top: 50px;
}


.fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fotos img {
    width: 300px;
    height: 400px;
    padding: 10px;
    box-shadow: 10px 10px 20px;
}

.textinhos {
    margin-top: 30px;
    text-align: center;
    font: 30px 'fonte2';

}

@media(max-width:500px) {
    .conteudo {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .conteudo h1 {
        text-align: center;
    }
}