* {
    margin: 0px;
    box-sizing: border-box;
}

.conteiner {
    display: flex;
    flex-direction: column;
    background-color: #5ee45e;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.quadrado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    width: 500px;
    height: 500px;
    rotate: 50deg;
    
    
}

.bola {
    background-color: blue;
    width: 300px;
    height: 300px;
    border-radius: 100%;
}