@font-face {
    font-family: 'vandinha1';
    src: url('../assets/fonts/fontawesome-webfont.woff2');
}

@font-face {
    font-family: 'vandinha2';
    src: url('../assets/fonts/rP2Cp2ywxg089UriASitCBimCw.woff2');
}

@font-face {
    font-family: 'vandinha3';
    src: url('../assets/fonts/rP2Hp2ywxg089UriCZOIHQ.woff2');
}